@import '../../style/vars'

#header
  display: grid
  grid-template-columns: auto $small-col-width
  border-bottom: $stroke

#headerLeft
  display: flex
  flex-direction: column
  justify-content: space-between
  #headerTitleContainer
    font-weight: $light-weight
    text-transform: uppercase

  h1
    font-size: 45px
    line-height: 1
    letter-spacing: 0.3mm
    margin: 0px

    a
      color: $text-color
    a:visited
      color: $text-color

  h2
    margin: 0px
    letter-spacing: 0.2mm
    font-size: 15px

#headerRight
  margin-bottom: $spacing-small/2
  border-left: $stroke
  padding-left: $spacing-small
  img
    height: 38mm
