---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');
---

<Layout>
  <h1>This is my blog</h1>
  <h2>All Blog Posts</h2>
  <div class="posts">
    {allPosts.map((post) => <h3>{post.slug}</h3>)}
  </div>
</Layout>
