@import '../../style/vars'

#blogHeader
  border-bottom: $stroke
  display: flex
  flex-direction: row
  justify-content: space-between
  h1
    padding-right: $spacing-small
    line-height: 1
    font-weight: $light-weight
    font-size: 13px
    text-transform: uppercase
    letter-spacing: 0.3mm

    a
      color: $text-color
    a:visited
      color: $text-color
