@import '../../style/vars'

body
  font-family: 'Roboto', sans-serif
  font-weight: $regular-weight
  font-size: 18px
  color: $text-color
  margin: 0px
  width: 100%
a
  text-decoration: none
  color: $text-color
a:visited
  color: $text-color
a:hover
  color: $secondary-color


h1
  font-size: 80px
  line-height: 1
  letter-spacing: 0.3mm
  margin: 0px
h2
  margin: 0px
  font-size: 60px

h3
  margin: 0px
  font-size: 40px

h4
  margin: 0px
  letter-spacing: 0.2mm
  font-size: 20px

main
  min-height: 80vh
  margin-left: auto
  margin-right: auto
  max-width: 1000px
  padding: 2*$spacing-normal $spacing-normal

  #header
    height: 100vh

  text-align: center
  p
    text-align: left
footer
  padding: $spacing-small
  font-size: 10px
