---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');
---

<Layout>
  <h1>Hi! My name is Julian 👋</h1>
  <p>
    I'm a software developer and this is my blog where I share where I share
    some stuff I learn.
  </p>

  <p>
    If you want to know more about me, you can have a look at my <a
      href="https://raw.githubusercontent.com/justmejulian/resume/1d9d8e6d13d79e51b073a7fa25fe99b341c6a55c/resume/resume.pdf"
      >resume</a
    > or look me up on <a
      href="https://ch.linkedin.com/in/julian-visser-8b4b21180">LinkedIn</a
    >.
  </p>

  <p>
    And if you want to know more about what tools I use, you can check out my <a
      href="https://github.com/justmejulian/.dotfiles">dotfiles</a
    > 🤓.
  </p>

  <h2>All Blog Posts</h2>
  <div class="posts">
    {allPosts.map((post) => <h3>{post.slug}</h3>)}
  </div>
</Layout>
