---
import Layout from '@layouts/Layout.astro';
import Memoji from '@images/memoji.png';
---

<Layout>
  <h1>Hi! My name is Julian 👋</h1>
  <section>
    <p>
      I'm a software developer passionate about exploring and learning new
      technologies.
    </p>
    <p>Welcome to my personal website.</p>
    <br />
    <p class="question">Want to know more about me?</p>
    <p>
      Check out my
      <a
        href="https://raw.githubusercontent.com/justmejulian/resume/1d9d8e6d13d79e51b073a7fa25fe99b341c6a55c/resume/resume.pdf"
        target="_blank"
        rel="noopener noreferrer">resume</a
      > or connect with me on
      <a
        href="https://ch.linkedin.com/in/julian-visser-8b4b21180"
        target="_blank"
        rel="noopener noreferrer">LinkedIn</a
      >.
    </p>
    <br />
    <p class="question">Curious about my workflow?</p>
    <p>
      Take a peek at my
      <a
        href="https://github.com/justmejulian/.dotfiles"
        target="_blank"
        rel="noopener noreferrer">dotfiles</a
      > 🤓.
    </p>
  </section>

  <div class="memoji">
    <img src={Memoji.src} alt="Julian's Memoji" />
  </div>
</Layout>

<style>
  .memoji {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    img {
      width: 80%;
      max-width: 300px;
    }
  }
  .question {
    font-weight: bold;
    font-size: 18px;
  }
</style>
