@import './vars'

.post
  margin-top: $spacing-normal
  padding-bottom: $spacing-normal
  text-align: left
  border-bottom: $stroke

  p
    margin-bottom: $spacing-small

  #more
    font-size: 13px
    font-weight: $bold-weight
    border-bottom: $stroke
