---
export interface Props {
  image: ImageMetadata;
}
const { image } = Astro.props;
---

<div class="iphone-container">
  <div class="side-bar top-bar"></div>
  <div class="side-bar middle-bar"></div>
  <div class="side-bar bottom-bar"></div>
  <div class="side-bar end-bar"></div>
  <div class="inner-container">
    <img src={image.src} alt="Tricorder iPhone Mockup" />
  </div>
</div>

<style>
  .iphone-container {
    position: relative;
    border: 7px solid #313233;
    background-color: #313233;
    border-radius: 20px;
    height: 350px;
    width: 160px;
  }

  .side-bar {
    position: absolute;
    width: 1.5px;
    background-color: #313233;
    border-radius: 4px;
  }

  .top-bar {
    height: 16px;
    left: -8px;
    top: 36px;
  }

  .middle-bar {
    height: 32px;
    left: -8px;
    top: 80px;
  }

  .bottom-bar {
    height: 32px;
    left: -8px;
    top: 124px;
  }

  .end-bar {
    height: 32px;
    right: -8.5px;
    top: 80px;
  }

  .inner-container {
    border-radius: 16px;
    overflow: hidden;
    height: 100%;
  }

  img {
    height: 100%;
    contain: cover;
    display: block;
  }
</style>
