---
import { Image } from 'astro:assets';

export interface Props { image: ImageMetadata; }
const {image} = Astro.props;
---

<div class="iphone-container">
    <div class="side-bar top-bar"></div>
    <div class="side-bar middle-bar"></div>
    <div class="side-bar bottom-bar"></div>
    <div class="side-bar end-bar"></div>
    <div class="inner-container">
    <img src={image.src} alt="Tricorder iPhone Mockup" />
    </div>
</div>

<style>
.iphone-container {
  position: relative;
  margin: 0 auto;
  border: 14px solid #313233;
  background-color: #313233;
  border-radius: 40px;
  height: 700px;
  width: 320px;
}

.side-bar {
  position: absolute;
  width: 3px;
  background-color: #313233;
  border-radius: 8px;
}

.top-bar {
  height: 32px;
  left: -17px;
  top: 72px;
}

.middle-bar {
  height: 46px;
  left: -17px;
  top: 124px;
}

.bottom-bar {
  height: 46px;
  left: -17px;
  top: 178px;
}

.end-bar {
  height: 64px;
  right: -17px;
  top: 142px;
}

.inner-container {
  border-radius: 32px;
  overflow: hidden;
  height: 100%;
}

img {
  height: 100%;
  contain: cover;
  display: block;
}

</style>
