---
interface Props {
  title: string;
}

const { title } = Astro.props;

const links = [
  { name: 'Home', href: '/' },
  { name: 'About', href: '/about' },
  { name: 'Blog', href: '/blog' },
];
---

<header>
  <div class="logo">
    <img
      src="/web-app-manifest-512x512.png"
      alt="Logo"
      width="28"
      height="28"
    />
    <a href="/">{title}</a>
  </div>
  <nav>
    {links.map((link) => <a href={link.href}>{link.name}</a>)}
  </nav>
</header>

<style>
  header {
    padding-bottom: 12px;
    border-color: #212427;
    border-bottom: 2px dashed;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    a {
      font-size: 16px;
    }

    .logo {
      display: flex;
      align-items: baseline;
      gap: 8px;
    }

    nav {
      a {
        margin-left: 8px;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    header {
      border-color: #ffffff;
    }
  }
</style>
