---
interface Props {
  title: string;
}

const { title } = Astro.props;

const links = [
  { name: 'Home', href: '/' },
  { name: 'About', href: '/about' },
  { name: 'Blog', href: '/blog' },
];
---

<header>
  <div class="logo">
    <a href="/">{title}</a>
  </div>
  <nav>
    {links.map((link) => <a href={link.href}>{link.name}</a>)}
  </nav>
</header>

<style>
  header {
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:visited {
    color: black;
  }

  nav {
    a {
      margin-left: 4px;
    }
  }
</style>
