@import '../../style/vars'


.ArrowButton
  text-align: center
  text-transform: uppercase
  font-size: 15px
  p
    text-align: center
    margin: 0px
  svg
    fill: $text-color
    height: 40px

  a:hover
    svg
      fill: $secondary-color
