@import '../../style/vars'


.ArrowButton
  text-align: center
  text-transform: uppercase
  p
    text-align: center
    margin: 0px
  svg
    height: 40px

  a:hover
    svg
      fill: $secondary-color
