@font-face {
  font-family: 'FiraSans';
  src: url('./fonts/FiraSans-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'FiraSans Bold';
  src: url('./fonts/FiraSans-Bold.ttf') format('woff2');
}

@font-face {
  font-family: 'FiraSans Italic';
  src: url('./fonts/FiraSans-Italic.ttf') format('woff2');
}

a {
  color: #484848;
}

a:visited {
  color: #484848;
}

a:hover {
  color: #c0c0c0;
}

h1 {
  font-size: 80px;
  line-height: 1;
  letter-spacing: 0.3mm;
  margin: 0px;
  margin-bottom: 16px;
}

h2 {
  margin: 0px;
  letter-spacing: 0.2mm;
  font-size: 20px;
  margin-bottom: 16px;
}

.layout {
  font-family: 'FiraSans', sans-serif;
  color: #484848;
  margin: 0px;
  width: 100%;
}

.container {
  min-height: 80vh;
  margin-top: 16vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  text-align: center;
}

.container p {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  margin: 4px;
  padding-bottom: 16px;
}

.iconContainer {
  margin-bottom: 36px;
}

.icon svg {
  height: 24px;
  padding: 4px;

  fill: #484848;
}

svg:hover {
  fill: #c0c0c0;
}
