---
import '@styles/global.css';
import '@fontsource/fira-sans';

import Nav from '@components/Nav.astro';

const title = 'justmejulian';

// export interface Props {}
// const {} = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <div class="container">
      <Nav title={title} />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
  body {
    font-family: 'Fira Sans', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .container {
    padding: 16px;
    width: 100%;
    max-width: 800px;
  }
</style>
