---
import '@fontsource/fira-sans';

import Nav from '@components/Nav.astro';

const title = 'justmejulian';

// export interface Props {}
// const {} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>{title}</title>
  </head>
  <body>
    <div class="container">
      <Nav title={title} />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
  body {
    font-family: 'Fira Sans', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;

    color: #212427;
    background-color: #ffffff;

    .container {
      padding: 16px;
      width: 100%;
      max-width: 800px;
    }

    h1 {
      margin: 12px 0;
    }

    h2 {
      margin: 8px 0;
    }

    h3 {
      margin: 4px 0;
    }

    a {
      font-size: 16px;
      text-decoration: none;
      color: #212427;
    }

    a:visited {
      color: #212427;
    }
  }

  @media (prefers-color-scheme: dark) {
    body {
      color: #ffffff;
      background-color: #212427;

      a {
        color: #ffffff;
      }

      a:visited {
        color: #ffffff;
      }
    }
  }
</style>
