@import '../../style/vars'

#nav
  display: flex
  flex-direction: row
  padding: $spacing-small/2 0px
  font-weight: $light-weight
  font-size: 15px
  a
    color: $text-color
  a:visited
    color: $text-color
  a:hover
    color: $secondary-color

  .item
    padding-right: $spacing-small

  .item-with-border
    padding-left: $spacing-small
    border-left: $stroke

  .item-last
    padding-right: 0px
    border-left: $stroke
