@import '../../style/vars'

#nav
  background-color: white
  opacity: 0.9
  position: fixed
  font-weight: $light-weight
  font-size: 15px
  display: flex
  width: 100%
  flex-direction: row
  justify-content: space-between

  #name
    padding: $spacing-small/2 $spacing-small


  #links
    display: flex
    flex-direction: row
    padding: $spacing-small/2 0px
    a
      color: $text-color
    a:visited
      color: $text-color
    a:hover
      color: $secondary-color

    .item
      padding-right: $spacing-small

    .item-with-border
      padding-left: $spacing-small
      border-left: $stroke
